// Colors used
$color_1 : #FCB200;
$color_2 : #FFFFFF;
$color_3 : #8CD790;
$color_4 : #26282D;
$color_5 : #000000;
$color_6 : #F5F5F5;
$color_7 : #4594F9;

// Fonts weight
$f_small : 400;
$f_medium : 700;
$f_big : 900;

// Fonts Size
$s_small : 20px;
$s_medium : 50px;
$s_big : 100px;
