<!-- Information -->
<div class="information">
  <div class="information-title">
    <h1>Bitcoin Value</h1>
  </div>
  <div class="information-description">
    <p>Know the value of bitcoin in different currencies.</p>
  </div>
  <div class="information-icon">
    <i class="fab fa-bitcoin"></i>
  </div>
  <div class="information-value">
    <h3>1 
      <i class="fab fa-btc"></i>
      <i class="fas fa-equals pl-2 pr-2"></i>
      <i class="fas fa-dollar-sign"></i> {{ priceUSD }} 
    </h3>
    <p>Last update: <span> {{ lastUpdate }}</span></p>
  </div>
</div>
